<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898514259905-b5iujfsfaqqt6q5vmqs90vqbrtj6niik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898514259905-b5iujfsfaqqt6q5vmqs90vqbrtj6niik</string>
	<key>API_KEY</key>
	<string>AIzaSyBNG8k1NyU_MLWmsENlX-eZyA31JtMH5oA</string>
	<key>GCM_SENDER_ID</key>
	<string>898514259905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LaysProduction.Laymi</string>
	<key>PROJECT_ID</key>
	<string>laymi-622d3</string>
	<key>STORAGE_BUCKET</key>
	<string>laymi-622d3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898514259905:ios:2f898967c08159401a6940</string>
</dict>
</plist>